/***** GENERAL STYLES *****/

.App {
  text-align: center;
  background-image: url('https://www.publicdomainpictures.net/pictures/200000/nahled/gray-fur-background-14795967451G7.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

i {
  color: purple;
}

.title {
  background: rgba(255, 255, 255, 0.486);
  border-radius: 85px;
  padding: 15px;
  margin: 30px 200px;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title i {
  font-size: 60px;
}

span {
  color: purple
}

/***** WORLD.JS STYLES *****/

.container {
  width: 100vw;
  text-align: center;
}

.container h2 {
  font-weight: bold;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.486);
  border-radius: 85px;
  padding: 15px;
  margin: 10px 400px;
}

.instructions {
  margin: 30px;
  text-align: left;
  background: rgba(255, 255, 255, 0.486);
  border-radius: 85px;
}

.indInstructions {
  display: flex;
  margin: 10px auto;
  width: 75%;
}

.indInstructions i {
  margin: 21px 10px;
}

.secContainer {
  width: 95vw;
  margin: 10px auto; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


/***** ROOM.JS STYLES *****/

.emptyRoom {
  height: 150px;
  width: 150px;
  background: black;
  margin: 3px;
  padding: 30px 20px;
}

.emptyRoom:hover {
  background: white;
}


/***** MODAL.JS STYLES *****/

.winner {
  padding: 5px;
  margin: 3px;
}